body{
    min-height: 100vh;
    background-image: url(/src/assets/img/bg/backgraund.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    }

.customHeigth{
    min-height: 70vh;
}

/*para el carousel*/
.main-carousel {
  height: 300px;
  
}

.main-carousel .carousel-item img {
  height: 300px;
 object-fit:cover; 
}

.texto-con-sombras-multiples {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.767);
}

.carousel-inner{
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
}
.carousel-iner .carousel-item-active img {
  height: 400px;
  object-fit: cover;
  object-position: bottom;
}
/*/////////////////*/

/*main publicidad*/
#container-main{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /*background-color: brown;*/ 
}
.card-propaganda{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  border-radius: 5px;
  background: rgba(128, 0, 128, 0.377);
}
.card-propaganda h4 {
  display: flex;
  justify-content: center;
  color:rgb(75, 72, 72); ;
  margin-top: 10px;
}
.card-propaganda a {
  color: rgba(102, 92, 92, 0.788);
  display:flex;
  justify-content: center;
  text-decoration: none;
}
.espacio-publicidad{
  margin-top: 20px;
  height: 330px;
  display: flex;
  justify-content: center;
}
.pagination{
  display: flex;
  justify-content: center;
}
@media (max-width: 976px){
  .espacio-publicidad{
      visibility: hidden;
      height: 50px;
  }
}
/*///////////////*/


/*publicidad*/
.aside-container {
  position: absolute;
  flex-direction: column;
  right: 0;
  width: 500px; /* Ancho deseado del aside */
  /* Otros estilos personalizados */
}
/*////////////////*/

.custom-spinner .spinner-border {
    width: 5rem; /* Ajusta el tamaño deseado */
    height: 5rem; /* Ajusta el tamaño deseado */
  }

/*para navy footer*/

/*para el drop desplegable nav*/
#custom-drow{
  color: white;
}

/*items navbar*/
.items_nav{
  width: 5rem; 
  height: 5rem;
}

.fondo_nav_footer{
  background-image:url(https://static.vecteezy.com/system/resources/previews/012/612/082/non_2x/wood-dark-black-texture-background-dark-wood-cutting-board-texture-design-wall-table-or-floor-surface-wooden-table-template-vector.jpg);
}
/*////////////////*/


  /*para el paginado*/
.custom-pagination .page-item {
    
    color: var(--bs-light);
  }
  
  .custom-pagination .page-link {
    background-color: var(--bs-dark);
    border-color: var(--bs-light);
    color: var(--bs-light);
  }
  
  .custom-pagination .page-item.active .page-link {
    background-color: var(--bs-light);
    color: var(--bs-dark);
  }
  /*////////////////*/

  /*para card*/
  .fondo_card{
    background-image:url(https://static.vecteezy.com/system/resources/previews/012/612/082/non_2x/wood-dark-black-texture-background-dark-wood-cutting-board-texture-design-wall-table-or-floor-surface-wooden-table-template-vector.jpg);
  }
  /*///////////////*/

  /*para el footer*/
  .box__copyright {
    width: 100%;
    display: flex;
    background-color:var(--bs-secondary) ;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
  /*///////////////*/